lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.lock

pids
logs
results
tmp

# API keys and secrets
.env

# Dependency directory
node_modules

# Ignore built ts files
build/**/*

#ignore wpp sessions
.wpp_sessions
